{% extends 'inner-page.html' %}
{% load static %}

{% block body %}


<table class="table container">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Date</th>
        <th>Department</th>
        <th>Doctor</th>
        <th>Message</th>
        <th>Action</th>
    </tr>

{% for x in data %}

<tr>
    <td>{{ x.name }}</td>
    <td>{{ x.email }}</td>
    <td>{{ x.phone }}</td>
    <td>{{ x.date }}</td>
    <td>{{ x.department }}</td>
    <td>{{ x.doctor }}</td>
    <td>{{ x.message }}</td>
    <a href="/edit/{{ x.id }}"class="btn btn succes">Edit</a>
    <a href="/delete/{{ x.id }}" class="btn btn-danger">Delete</a>


</tr>
{% endfor %}

</table>
{% endblock %}